<!-- 一覧表示部分 -->
<h2>Users</h2>
<table>

  <!-- 見出し表示 -->
  <thead>
    <tr>
      <th> image </th>
      <th></th>
      <th> name </th>
    </tr>
  </thead>

  <!-- 本文表示 -->
  <tbody>
    <% @users.each do |user| %>

    <tr>
      <td> <%= user.profile_image_id %> </td>
      <td></td>
      <td> <%= user.name  %> </td>
      <td></td>

      <!-- 投稿詳細ボタン -->
      <td> <%= link_to "Show",book_path(book.id) %> </td>
      <td></td>
    </tr>

    <% end %>
  </tbody>
</table>